body{
    background-color: var(--neutral-dark);
    font-family: 'Outfit', sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
}

.card{
    max-width: 350px;
    background-color: var(--neutral-medium);
    border-radius: 15px;
    padding: 25px;
}

.img-link{
    position:relative;
    display: flex;
}

.img-link .img{
    width: 100%;
    border-radius: 7px;
}

.img-link::before{
    display: none;
    content: '';
    background-color: aqua;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.4;
    
}

.img-link::after{
    display: none;
    content: '';
    background: url(../img/icon-view.svg) no-repeat center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.img-link:hover::before,
.img-link:hover::after{
    display: block;
}


.title-link .title{
    font-size: 22px;
    color: white;
    margin: 25px 0 20px;
}

.title-link .title:hover{
    color: var(--primary-medium);
}

.about{
    color: var(--primary-soft);
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 23px;
}

.info{
    display:flex;
    justify-content: space-between;
    margin-bottom: 23px;
}

.info .price{
    color: var(--primary-medium);
    display: flex;
}

.info .price::before{
    content: '';
    background-image: url(../img/icon-ethereum.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 11px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}

.info .days-left{
    color: var(--primary-soft);
    display: flex;
}

.info .days-left::before{
    content: '';
    background-image: url(../img/icon-clock.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 3px;
}

.creator{
    display: flex;
    align-items: center;
    border-top: 1px solid var(--neutral-soft);
    padding-top: 15px;
}

.creator .avatar{
    max-width: 35px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 15px;
}

.creator .text{
    color: var(--primary-soft);
}

.creator .text .name{
    color: white;
}

.creator .text .name:hover{
    color: var(--primary-medium);
}
